= button_to "メールアドレスで登録する", new_user_registration_path, method: :get
= button_to 'Googleで登録する', user_google_oauth2_omniauth_authorize_path, method: :post
= button_to 'Facebookで登録する', user_facebook_omniauth_authorize_path, method: :post
.breadCrumbs
  %ul
    %li= link_to "フリマ", "/"
    %li 新規会員登録