.font-style {
  text-align: center;
  padding: 150px 0 30px;
}

.redirect-btn {
  background-color: #3CCACE;
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  line-height: 56px;
  color: #fff;
  border-radius: 4px;
  height: 56px;
  width: 250px;
  margin: 0 auto;
}
.redirect-btn:hover {
  background-color: #299296;
}