.wrapper {
  width: 100%;
  display: flex;
}
.search-text {
  font-size: 22px;
  font-weight: bold;
  margin-left: 50px;
}

.main {
  background-color: #f8f8f8;
  width: 100%;
}
.product {
  &__all {
    text-align: center;
  }
  &__list {
    display: inline-block;
  }
  &__content {
    background-color: white;
    margin: 26px 50px;
    width: 220px;
  }
  &__image {
    overflow: hidden;
    object-fit: cover;
    height: 150px;
  }
  &__info {
    text-align: left;
  }
}